<div style="padding: 28px 80px">
  <div style="font-size: 16px">
    <b>Trang chủ </b>
    <img src="/content/images/toursImg/toursDetailImg/mingcute_Icon.svg" alt="Icon">
    <b>Đặt Tour </b>
    <img src="/content/images/toursImg/toursDetailImg/mingcute_Icon.svg" alt="Icon">
    <b>Danh sách Tour </b>
    <img src="/content/images/toursImg/toursDetailImg/mingcute_Icon.svg" alt="Icon">
    <b>Chi tiết Tour</b>
  </div>

  <div *ngIf="tourData" class="tour-container">
    <div class="tour-images">
      <div class="main-img">
        <img [src]="tourData.imageUrl" alt="{{ tourData.tourName }}">
      </div>
      <div class="sub-imgs">
        <img src="https://picsum.photos/200/150" alt="Ảnh 1">
        <img src="https://picsum.photos/200/150" alt="Ảnh 1">
        <img src="https://picsum.photos/200/150" alt="Ảnh 1">
        <img src="https://picsum.photos/200/150" alt="Ảnh 1">
      </div>
    </div>
    <div class="tour-info">
      <div class="info-box" style="margin-bottom: 26px">
        <h3 style="font-size: 24px; color: #0a0a0a;font-weight: 600;">{{ tourData.tourName }}</h3>
        <div>
          <b style="font-size: 14px">Giá từ:</b>
          <div style="color: #D32D2D; font-size: 20px; font-weight: 600;">{{ tourData.price }} VNĐ</div>
        </div>
        <button class="btn-book">Đặt ngay</button>
      </div>
      <div class="info-box" style="height: auto">
        <h4 style="font-size: 24px; color: #0a0a0a; margin-bottom: 26px;font-weight: 600;">Thông tin Tour</h4>
        <div style="margin-bottom: 16px"><b>{{ tourData.description }}</b></div>
        <div style="margin-bottom: 16px"><b>Ngày khởi hành:</b> {{ tourData.startDate }}</div>
        <div style="margin-bottom: 16px"><b>Thời gian:</b> 3N2Đ</div>
        <div><b>Điểm khởi hành:</b> {{ tourData.location }}</div>
      </div>
    </div>
  </div>

  <div class="tour-detail">

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(0)">
        <span>Tổng quan tour du lịch</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[0]">
      </div>
      <div class="detail-content" *ngIf="isOpen[0]">
        <div><b>{{ tourData?.detail?.overview }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(1)">
        <span>Lịch trình</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg"
             alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[1]">
      </div>
      <div class="detail-content" *ngIf="isOpen[1]">
        <div class="timeline">
          <div class="timeline-item" *ngFor="let i of tourData?.itineraries; index as idx; let last = last">
            <div class="timeline-node">{{ idx + 1 }}</div>
            <div class="timeline-content">
              <h4 class="timeline-title">{{ i.toursItineraryTitle }}</h4>
              <p class="timeline-desc">{{ i.toursItineraryDescription }}</p>
            </div>
            <div class="timeline-line" *ngIf="!last"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(2)">
        <span>Giá tour chi tiết</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[2]">
      </div>
      <div class="detail-inclusions-header" *ngIf="isOpen[2]">
        <div style="display: grid; grid-template-columns: 1fr 1fr; text-align: left;">
          <div style="border-right: 2px solid #adadad; padding: 0px 15px">
            <span style="color: #6BCDEC;margin-bottom: 18px;font-weight: 600;">Bao gồm</span>
            <div *ngFor="let i of tourData?.inclusions">
              <div *ngIf="i.toursIncluded == 1" style="margin-top: 16px; margin-left: 10px;color: #0a0a0a"><b> - {{i.toursInclusionName}}</b></div>
            </div>
          </div>
          <div style="padding: 0px 15px">
            <span style="color: #6BCDEC;margin-bottom: 18px;font-weight: 600;">Không bao gồm</span>
            <div *ngFor="let i of tourData?.inclusions">
              <div *ngIf="i.toursIncluded == 0" style="margin-top: 16px; margin-left: 10px;color: #0a0a0a"><b> - {{i.toursInclusionName}}</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(3)">
        <span>Chính sách trẻ em</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[3]">
      </div>
      <div class="detail-content" *ngIf="isOpen[3]">
        <div><b>{{ tourData?.detail?.childrenPolicy }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(4)">
        <span>Hướng dẫn đặt tour</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[4]">
      </div>
      <div class="detail-content" *ngIf="isOpen[4]">
        <div><b>{{ tourData?.detail?.bookingGuide }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(5)">
        <span>Thanh toán</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[5]">
      </div>
      <div class="detail-content" *ngIf="isOpen[5]">
        <div><b>{{ tourData?.detail?.payment }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(6)">
        <span>Điều kiện hủy tour</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[6]">
      </div>
      <div class="detail-content" *ngIf="isOpen[6]">
        <div><b>{{ tourData?.detail?.cancellationPolicy }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(7)">
        <span>Điều khiển & lưu ý</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[7]">
      </div>
      <div class="detail-content" *ngIf="isOpen[7]">
        <div><b>{{ tourData?.detail?.termsNotes }}</b></div>
      </div>
    </div>

    <div class="detail-item" style="margin-bottom: 8px">
      <div class="detail-header" (click)="toggleAccordion(8)">
        <span>Thông tin thêm/ FAQ</span>
        <img src="content/images/toursImg/toursDetailImg/mingcute_down-line.svg" alt="detail-icon" class="detail-icon"
             [class.rotate]="isOpen[8]">
      </div>
      <div class="detail-content" *ngIf="isOpen[8]">
        <div><b>{{ tourData?.detail?.additionalInfo }}</b></div>
      </div>
    </div>
  </div>

  <div class="rating-container">
    <div class="rating-container-header">
      <span>Trải nghiệm khách hàng</span>
    </div>
    <div>
      <div class="rating-container-title">
        <div class="rating-container-title-d" (click)="ratingDetail()">
          <div>
            <span>Đánh giá</span>
          </div>
        </div>
        <div class="rating-container-title-d" (click)="addRating()">
          <div>
            <span>Thêm đánh giá</span>
          </div>
        </div>
      </div>
      <div class="rating-container-content">
        <div *ngIf="this.rating" style="display: flex">
          <div class="rating-box">
            <div class="rating-score">{{tourData?.averageRating}}</div>
            <div class="rating-stars">
              <ng-container *ngFor="let star of stars; let i = index">
                <i *ngIf="star === 'full'" class="fas fa-star"></i>
                <i *ngIf="star === 'half'" class="fas fa-star-half-alt"></i>
                <i *ngIf="star === 'empty'" class="far fa-star"></i>
              </ng-container>
            </div>
            <div class="rating-count">{{tourData?.reviewCount}} lượt đánh giá</div>
          </div>
          <div class="rating-box-2">
            <div class="rating-row" *ngFor="let percent of ratingPercentages; let i = index">
              <div class="star-row">
                <span class="star-label" style="margin: 0px !important;">{{ 5 - i }}</span>
                <i class="fas fa-star"></i>
              </div>
              <div class="bar">
                <div class="fill" [style.width.%]="ratingPercentages[4 - i]"></div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!this.rating" class="review-box">
          <div class="stars">
            <span style="font-weight: 600;white-space: nowrap;">Đánh giá xếp hạng</span>
            <div class="stars-list" (mouseleave)="hovered = 0">
              <span class="star"
                  *ngFor="let s of [1,2,3,4,5]"
                  (mousemove)="previewHalf($event, s)"
                  (click)="selectHalf($event, s)">
                <ng-container [ngSwitch]="getState(s)">
                  <i *ngSwitchCase="'full'" class="fas fa-star"></i>
                  <i *ngSwitchCase="'half'" class="fas fa-star-half-alt"></i>
                  <i *ngSwitchDefault class="far fa-star"></i>
                </ng-container>
              </span>
            </div>
          </div>
          <textarea [(ngModel)]="comment" placeholder="Nhập đánh giá của bạn..."></textarea>
          <div class="btn-box">
            <button (click)="submitReview()" class="submitReview">Đánh giá</button>
          </div>
        </div>
      </div>
    </div>
    <div class="rating-container-header" style="margin: 20px 0px">
      <span>Đánh giá của khách hàng</span>
    </div>
    <div>
      <div *ngFor="let i of reviews">
        <div class="review-card">
          <div class="review-header">
            <div class="review-avatar">A</div>
            <div>
              <h4 class="review-name">{{i.customer.fullName}}</h4>
            </div>
          </div>
          <div style="width: 70%">
            <div class="review-rating">
              <ng-container *ngFor="let star of i.stars">
                <i *ngIf="star === 'full'" class="fas fa-star"></i>
                <i *ngIf="star === 'half'" class="fas fa-star-half-alt"></i>
                <i *ngIf="star === 'empty'" class="far fa-star"></i>
              </ng-container>
            </div>
            <span class="review-date">01/09/2025 03:22</span>
            <div class="review-content">
              Tour này rất tuyệt vời, hướng dẫn viên nhiệt tình!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-tour">
    <span style="font-weight: 600; font-size: 24px">Các tour tương tự</span>
    <button style="font-size: 16px; border-radius: 8px; background: #6BCDEC; border: none; padding: 10px 16px; color: white; font-weight: 600">
      Xem tất cả</button>
  </div>
  <div class="tours-grid">
    <div *ngFor="let tour of tours; let i = index" class="tours-card">
      <div>
        <div class="tours-img-wrapper">
          <img *ngIf="tour.imageUrl" [src]="tour.imageUrl" alt="{{ tour.tourName }}" class="tours-img"/>
        </div>
        <div style="padding: 20px;">
          <div>
            <h3 style="color:black; font-size: 24px;font-weight: bold;">{{ tour.tourName }}</h3>
            <div style="font-size: 14px">
              <div style="margin-bottom: 16px"><b>Điểm khởi hành:</b> {{ tour.location }}</div>
              <div style="margin-bottom: 16px"><b>Ngày khởi hành:</b> {{ tour.startDate }}</div>
              <div style="margin-bottom: 16px"><b>Đánh giá:</b> {{ tour.averageRating }}/5 ({{ tour.reviewCount }} reviews)</div>
            </div>
          </div>
          <div style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 4px;">
            <div><b>Giá từ:</b>
              <div style="color: #D32D2D; font-size: 20px; font-weight: bold;">{{ tour.price }} VNĐ</div>
            </div>
            <div>
              <button class="btn-book-1" [routerLink]="[tour.id]">Đặt ngay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
