<div>
  <div class="d-flex justify-content-center">
    <div class="col-lg-5 col-md-8 col-sm-10 login-box">
      <h1 data-cy="loginTitle" class="loginTitle" jhiTranslate="login.title">Đăng nhập</h1>
      @if (authenticationError()) {
        <div class="alert alert-danger" data-cy="loginError" jhiTranslate="login.messages.error.authentication">
          <strong>Đăng nhập thất bại!</strong> Bạn vui lòng kiểm tra thông tin đăng nhập và thử lại.
        </div>
      }
      <form class="form"  (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="username-label" for="username" jhiTranslate="global.form.username.label">Tên tài khoản</label>
          <input
            #username
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <label for="password" jhiTranslate="login.form.password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Nhớ tài khoản</span>
          </label>
        </div>


        <div style="display: flex; justify-content: center; align-items: center; gap: 1rem;">
          <button type="submit" class="btn"
                  style="color: white; background-color: #6BCDEC; display: block" data-cy="submit"
                  jhiTranslate="login.form.button">Đăng nhập
          </button>
          <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector"
             jhiTranslate="login.password.forgot"
          >Bạn quên mật khẩu?</a
          >
        </div>


        <div style="text-align: center;">
            <span> Hoặc đăng nhập bằng</span>
        </div>

        <div class="social-login-row">
          <!-- Nút Google -->
          <div id="g_id_signin"></div>

          <div>
            <button class="btn btn-facebook" (click)="loginWithFacebook()">
              <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook"
                   class="facebook-icon"/>
              <span>Đăng nhập bằng Facebook</span>
            </button>
          </div>
        </div>
      </form>

      <div style="display: flex; justify-content: center; align-items: center;">
        <span jhiTranslate="global.messages.info.register.noaccount" style="padding: 5px">Chưa có tài khoản? </span>
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"> Đăng ký tài khoản mới</a>
      </div>
    </div>
  </div>
</div>
