.home-banner {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
  margin-top: -190px;
}

.banner-img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: brightness(0.6);
  opacity: 0.9;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}

.hero-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 100px;
  color: #ffffff;
}

/* Tabs dịch vụ */
.service-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 75px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.service-tabs .tab {
  padding: 8px 25px;
  border-radius: 999px;
  border: 0px solid #fff;
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.service-tabs .icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}
.service-tabs .tab.active,
.service-tabs .tab:hover {
  background: #fff;
  color: #0a0a0a;
}
.service-tabs .tab.active .icon,
.service-tabs .tab:hover .icon {
  filter: brightness(0) invert(0);
}

/* Form tìm kiếm */
.search-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
}

.search-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.search-item label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #555;
}

.search-item select,
.search-item input {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-btn {
  background: #6BCDEC;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  background: #6BCDEC;
}

@media(max-width: 900px) {
  .search-bar { grid-template-columns: 1fr 1fr; }
}
@media(max-width: 500px) {
  .search-bar { grid-template-columns: 1fr; }
}

