<div class="admin-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <div class="menu">
        <!-- DASHBOARD -->
        <div class="menu-item">
          <div routerLink="/admin/dashboard" routerLinkActive="active" class="menu-title">
            <span style="margin-right: 10px ">
              <i class="fa fa-home link-icon"></i>
            </span>
            <span>Dashboard</span>
          </div>
        </div>

        <!-- TOUR MENU -->
        <div class="menu-item">
          <div routerLink="/admin/tour-management/list" routerLinkActive="active" class="menu-title" >
            <span style="margin-right: 10px ">
              <i class="fas fa-torii-gate"></i>
            </span>
            <span>Quản lý tour</span>
          </div>
        </div>

        <!-- HOTEL MENU -->
        <div class="menu-item">
          <div routerLink="/admin/hotel-management/list" routerLinkActive="active" class="menu-title" >
            <span style="margin-right: 10px ">
              <i class="fas fa-hotel"></i>
            </span>
            <span>Quản lý khách sạn</span>
          </div>
        </div>

      </div>
    </nav>
  </aside>

  <!-- Nội dung -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
